<template>
    <component :is="type" :class="type == 'th' ? `${thStyle} ${classCustom}` : `${tdStyle} ${classCustom}`" :colspan="colspan">
        <slot />
    </component>
</template>

<script>

export default {
    props:{
        type: {
            type: String,
            default: 'td'
        },
        thStyle: {
            type:String,
            default:'px-5 py-4 pt-5 text-sm uppercase whitespace-nowrap font-semibold'
        },
        tdStyle: {
            type:String,
            default:'text-sm whitespace-nowrap py-2 px-5'
        },
        classCustom:{
            type: String,
            default: ''
        },
        colspan: ''
    }
}
</script>
