<template>
    <svg v-if="name === 'book'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="currentColor" d="M6 4H5a1 1 0 1 1 0-2h11V1a1 1 0 0 0-1-1H4a2 2 0 0 0-2 2v16c0 1.1.9 2 2 2h12a2 2 0 0 0 2-2V5a1 1 0 0 0-1-1h-7v8l-2-2-2 2V4z" /></svg>
    <svg v-else-if="name === 'cheveron-down'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="currentColor" d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
    <svg v-else-if="name === 'cheveron-right'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><polygon points="12.95 10.707 13.657 10 8 4.343 6.586 5.757 10.828 10 6.586 14.243 8 15.657 12.95 10.707" /></svg>
    <svg v-else-if="name === 'dashboard'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="currentColor" d="M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm-5.6-4.29a9.95 9.95 0 0 1 11.2 0 8 8 0 1 0-11.2 0zm6.12-7.64l3.02-3.02 1.41 1.41-3.02 3.02a2 2 0 1 1-1.41-1.41z" /></svg>
    <svg v-else-if="name === 'trash'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="currentColor" d="M6 2l2-2h4l2 2h4v2H2V2h4zM3 6h14l-1 14H4L3 6zm5 2v10h1V8H8zm3 0v10h1V8h-1z" /></svg>
    <svg v-else-if="name === 'users'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="currentColor" d="M7 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm0 1c2.15 0 4.2.4 6.1 1.09L12 16h-1.25L10 20H4l-.75-4H2L.9 10.09A17.93 17.93 0 0 1 7 9zm8.31.17c1.32.18 2.59.48 3.8.92L18 16h-1.25L16 20h-3.96l.37-2h1.25l1.65-8.83zM13 0a4 4 0 1 1-1.33 7.76 5.96 5.96 0 0 0 0-7.52C12.1.1 12.53 0 13 0z" /></svg>
    <svg v-else-if="name === 'arrow-left'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"></path></svg>
    <svg v-else-if="name === 'arrow-right'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg>
    <svg v-else-if="name === 'move'" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <circle cx="9.5" cy="6.5" r="1.5" fill="#9CA5AD"/> <circle cx="9.5" cy="12.5" r="1.5" fill="#9CA5AD"/> <circle cx="9.5" cy="18.5" r="1.5" fill="#9CA5AD"/> <circle cx="14.5" cy="6.5" r="1.5" fill="#9CA5AD"/> <circle cx="14.5" cy="12.5" r="1.5" fill="#9CA5AD"/> <circle cx="14.5" cy="18.5" r="1.5" fill="#9CA5AD"/> </svg>
    <svg v-else-if="name === 'arrow-down'" width="12" height="12" viewBox="0 0 12 12" fill="currentColor" xmlns="http://www.w3.org/2000/svg"> <path d="M2 4L6 8L10 4" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </svg>
    <svg v-else-if="name === 'search'" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"> <circle cx="8.625" cy="8.625" r="6.375" stroke="#959EA6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> <path d="M13.5137 13.8639L16.1567 16.5" stroke="#959EA6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </svg>
    <svg v-else-if="name === 'sort'" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M6.56565 10.7476C6.26725 11.0841 5.73275 11.0841 5.43435 10.7476L3.18408 8.20944C2.76439 7.73605 3.10864 7 3.74973 7L8.25027 7C8.89136 7 9.23561 7.73606 8.81592 8.20944L6.56565 10.7476Z" fill="currentColor"/> <path d="M5.43435 1.25242C5.73275 0.915859 6.26725 0.915859 6.56565 1.25242L8.81592 3.79056C9.23561 4.26395 8.89136 5 8.25027 5L3.74973 5C3.10864 5 2.76439 4.26394 3.18408 3.79056L5.43435 1.25242Z" fill="currentColor"/> </svg>
    <svg v-else-if="name === 'sort-up'" width="6" height="4" viewBox="0 0 6 4" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M2.43435 0.252424C2.73275 -0.0841411 3.26725 -0.084141 3.56565 0.252425L5.81592 2.79056C6.23561 3.26395 5.89136 4 5.25027 4L0.749731 4C0.10864 4 -0.235609 3.26394 0.184084 2.79056L2.43435 0.252424Z" fill="currentColor"/> </svg>
    <svg v-else-if="name === 'sort-down'" width="6" height="4" viewBox="0 0 6 4" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M3.56565 3.74758C3.26725 4.08414 2.73275 4.08414 2.43435 3.74758L0.184085 1.20944C-0.235608 0.736054 0.108641 -5.47465e-08 0.749732 0L5.25027 3.84327e-07C5.89136 4.39073e-07 6.23561 0.736055 5.81592 1.20944L3.56565 3.74758Z" fill="currentColor"/> </svg>
</template>

<script>
export default {
  props: {
    name: String,
  },
}
</script>
