<script>
import { ref } from  'vue'
import Icon from './Icon.vue'

export default {
    props: {
        paginate:{},
    },
    emits:['changePage', 'changePerPage'],
    components: {
        Icon
    },
    setup(props, { emit } ) {

        const perPageDropdown = ref(props.paginate.per_page)

        const totalPages = ()=> {
            return props.paginate.total / parseInt(props.paginate.per_page);
        }

        return {
            perPageDropdown,
            changePage: (page)=> {
                if ( page > 0 && page <= Math.ceil( totalPages() ) ) {
                    emit('changePage', page)
                }
            },
            changePerPage: ()=> {
                emit('changePerPage', perPageDropdown)
            }
        }
    }
}
</script>

<template>
    <div class="flex w-full mt-4">
        <div class="flex-1 text-left dark:text-gray-400"> 
            {{ paginate.table }} por página
            <div class="relative inline-flex" v-if="paginate && paginate.perPageDropdown">
                <select class="border-none rounded-sm text-gray-600 dark:text-gray-400 h-10 bg-transparent focus:outline-none appearance-none"
                        v-model="perPageDropdown" @change="changePerPage">
                    <option v-for="(perPage, idx) in paginate.perPageDropdown"  :key="'pp'+idx"
                            :value="perPage" :selected="paginate.per_page == perPage" > {{ perPage }} </option>
                </select>
            </div>
        </div>
        <div class="flex-none" v-if="paginate.links && paginate.links.length > 3">
            <ul class="flex mx-auto">
                <li class="mx-1 px-3 py-2 dark:text-gray-50 cursor-pointer"
                    @click="changePage(parseInt(paginate.current_page) - 1)">
                    <div class="flex items-center font-bold" >
                        <span class="mx-1 mt-1">  <icon name="arrow-left" class="w-4 h-4 hover:text-blue-600" />  </span>
                    </div>
                </li>

                <li v-for="(link, idx) in paginate.links"
                    :key="idx" v-show="Number.isInteger( parseInt(link.label) )"
                    :class="{
                        'mx-1 px-3 py-2 hover:text-blue-600 dark:hover:text-blue-500 font-bold cursor-pointer':true,
                        'text-gray-800 dark:text-gray-400': !link.active,
                        'text-blue-600': link.active
                    }" @click="changePage(link.label)">
                    {{ link.label }}
                </li>

                <li class="mx-1 px-3 py-2 dark:text-gray-50 cursor-pointer" 
                    @click="changePage(parseInt(paginate.current_page) + 1)">
                    <div class="flex items-center font-bold" >
                        <span class="mx-1 mt-1"> <icon name="arrow-right" class="w-4 h-4 hover:text-blue-600"  />  </span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="flex-1 text-right dark:text-gray-500"> {{ paginate.from }} - {{ paginate.to }} de {{ paginate.total }} {{ paginate.table }} </div>
    </div>
</template>
