<script>
import { ref } from 'vue'

import Cell from './Cell.vue'
import Paginate from './Paginate.vue'
import Icon from './Icon.vue'

export default {
    props:{
        columns: {
            type: Array,
            default: []
        },
        rows: {
            type: Array,
            default: []
        },
        rowSort: {
            type: Boolean,
            default: false
        },
        paginate:{
            type: Object,
            default: {}
        },
    },
    emits:[
        'changePage', 'changePerPage', 
        'changeSort', 'clearSort', 
        'changeRowSort'
    ],
    components:{
        Cell,
        Paginate,
        Icon
    },
    setup( props, { emit } ) {

        const   currentSort  = ref([]),
                countToggle  = ref(0),
                currentField = ref('')

        return {
            currentSort,
            countToggle,
            currentField,

            sort: (order, field)=> {
                if( field !== currentField.value ) {
                    currentSort.value = []
                }

                if ( countToggle.value < 2 && ( currentSort.value[field] == '' || currentSort.value[field] != order ) ) {
                    if ( order == '' ) {
                        order = currentSort.value[field] == 'desc' ? 'asc': 'desc';
                        countToggle.value++
                    }
                    emit('changeSort', {order, field})
                    currentSort.value[field] = order
                    currentField.value = field
                } else {
                    emit('clearSort')
                    countToggle.value = 0
                    currentSort.value = []
                }
            },
            changeRowSort: (data)=> {
                emit('changeRowSort', { 
                    row     : data.moved.element, 
                    newIndex: data.moved.newIndex, 
                    oldIndex: data.moved.oldIndex 
                })
            }
        }
    }
}
</script>

<template>
    <div class="w-full xl:12 xl:mb-0 px-4 mx-auto mt-10">
        <div class="relative flex flex-col min-w-0 break-words bg-white dark:bg-gray-800 w-full mb-6">
            <div class="block w-full rounded-md border dark:border-gray-700 overflow-x-auto">
                <table class="items-center bg-transparent w-full border-collapse">
                    <thead>
                        <tr class="bg-gray-200 text-gray-900 text-bold dark:bg-gray-700 dark:text-white text-left ">
                            <cell v-for="column in columns" type="th" 
                                :class-custom="column.class ? column.class : ''" >
                                <template v-if="!column.sortable">
                                    <slot name="header" :column="column">
                                        {{ column.label }}
                                    </slot>
                                </template> 
                                <template v-else>
                                    <span class="cursor-default" @click="sort('', column.field)">
                                        <slot name="header" :column="column">
                                            {{ column.label }}
                                        </slot>
                                    </span>
                                    <div class="relative inline-grid pl-2 -top-1.5">
                                        <icon name="sort-up" @click="sort('asc', column.field)" 
                                                :class="{
                                                    'w-2 h-2 hover:text-blue-600 dark:hover:text-blue-500 cursor-pointer':true,
                                                    'text-blue-600 dark:text-blue-600': currentSort[column.field] == 'asc'
                                                }" />
                                        <icon name="sort-down" @click="sort('desc', column.field)" 
                                                :class="{
                                                    'w-2 h-2 hover:text-blue-600 dark:hover:text-blue-500 cursor-pointer':true,
                                                    'text-blue-600 dark:text-blue-600': currentSort[column.field] == 'desc'
                                                }" />
                                    </div>
                                </template>
                            </cell>
                        </tr>
                    </thead>
                    <tbody v-if="rows.length">
                        <tr v-for="(row, ridx) in rows"
                            class="px-6 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 border-t dark:border-gray-700 text-left">
                            <cell v-for="column in columns"
                                  :class-custom="column.class ? column.class : ''">
                                <slot name="row"
                                    :row="row"
                                    :index="ridx"
                                    :data="row[column.field]" 
                                    :column="column"
                                >
                                    <div class="flex">
                                        <div class="flex-none w-8 cursor-move" v-if="column.moveRow">
                                            <icon name="move" /> 
                                        </div>
                                        
                                        <div class="flex-grow" 
                                            v-if="row[column.field] && column.html" 
                                            v-html="row[column.field]"
                                        />

                                        <div :class="'flex-grow '+column.money" 
                                            v-else-if="column.money">
                                            {{ vueNumberFormat(row[column.field]) }}
                                        </div>

                                        <div class="flex-grow" 
                                            v-else-if="row[column.field]">
                                            {{ row[column.field] }}
                                        </div>
                                        <div class="flex-grow" 
                                            v-else-if="column.field.split('.').length > 1">
                                            {{ row[column.field.split('.')[0]][column.field.split('.')[1]] }}
                                        </div>

                                        <div class="flex-grow" v-else >
                                            {{ parseInt(ridx)+1 }}
                                        </div>
                                    </div>
                                </slot>
                            </cell>
                        </tr>
                    </tbody>

                    <tbody v-else>
                        <tr class="px-6 dark:text-gray-400 border-t dark:border-gray-700 text-center">
                            <cell :colspan="columns.length">
                                <slot name="no-data-display">
                                    Sin datos para mostrar.
                                </slot>
                            </cell>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <template v-if="paginate.total">
                <paginate :paginate="paginate"
                    @changePage="(page)=>this.$emit('changePage', page)"
                    @changePerPage="(perPage)=>this.$emit('changePerPage', perPage)" />
            </template>
        </div>
    </div>
</template>