<script setup lang="ts">

import DialogModal from '../Modal/Dialog.vue'
import User from '../../types/User'
import { PropType, reactive, ref } from 'vue';
import { notify } from '@kyvg/vue3-notification';

defineProps<{ show: Boolean }>()

const emit = defineEmits<{
    (e:'closeModal'): void
    (e:'createUser', data:PropType<User> ): void
}>()

const form = reactive<User>({
    first_name:'',
    last_name:'',
    email:'',
    birthday:''
})

const createUser = () => {
    if ( validateEmail(form.email) ) {
        const user:PropType<User> = {...form}
        emit('createUser', user )
    } else {
        notify({
            text:'Email incorrecto.',
            type:'warn'
        })
    }
    return false
}

const validateEmail = ( email:string ) => {
    var validRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
    return email.match(validRegex)
}

</script>

<template>
    <DialogModal :show="show" @close="emit('closeModal')" maxWidth="xl">
        <template #title>
            Crear Usuario
        </template>

        <template #content>
            <form @submit.prevent="createUser" class="grid grid-cols-6 gap-6">

                <div class="col-span-6 sm:col-span-3">
                    <label for="first-name" class="block text-sm font-medium text-gray-700">Nombre</label>
                    <input type="text" name="first-name" id="first-name" v-model="form.first_name" autocomplete="given-name" class="input-text">
                </div>

                <div class="col-span-6 sm:col-span-3">
                    <label for="last-name" class="block text-sm font-medium text-gray-700">Apellido</label>
                    <input type="text" name="last-name" id="last-name" v-model="form.last_name" autocomplete="family-name" class="input-text">
                </div>

                <div class="col-span-6 sm:col-span-3">
                    <label for="email-address" class="block text-sm font-medium text-gray-700">Email</label>
                    <input type="email" name="email-address" id="email-address" v-model="form.email" autocomplete="email" class="input-text">
                </div>

                <div class="col-span-6 sm:col-span-3">
                    <label for="birthday" class="block text-sm font-medium text-gray-700">Fecha nacimiento</label>
                    <input type="datetime-local" name="birthday" id="birthday" v-model="form.birthday" autocomplete="address-level2" class="input-text">
                </div>

            </form>
        </template>

        <template #footer>
            <button type="button" class="ml-4 btn-danger mr-1"
                    @click="emit('closeModal')"
            >
                Cancelar
            </button>

            <button type="button" class="btn-primary"
                    @click="createUser"
            >
                Guardar
            </button>
        </template>
    </DialogModal>
</template>