<template>
    <div class="w-full xl:12 xl:mb-0 mx-auto">
        <div class="relative flex flex-col min-w-0 break-words bg-white dark:bg-gray-800 w-full mb-6 p-5 rounded-lg">
            <div class="rounded-t mb-0 px-4 py-3 border-0">
                <div class="flex flex-wrap items-center">
                    <div class="relative flex-1">
                        <h2 class="font-semibold text-blueGray-700 dark:text-white text-3xl">
                            <slot name="title" />
                        </h2>
                    </div>
                    <div class="relative flex-auto justify-end text-right">
                        <div class="flex flex-wrap justify-end">
                            <div class="flex-grow">
                                <slot name="search" />
                            </div>
                            <div class="flex-none mt-1">
                                <slot name="buttons" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <slot name="body" />
        </div>
    </div>
</template>