<script setup lang="ts">
import { onMounted, PropType, ref } from 'vue'
import Layout from '../layouts/Base.vue'
import CardBase from '../components/Card/Base.vue'
import Table from '../components/Grid/Table.vue'
import UserDataService from '../services/UserDataService'
import User from '../types/User'
import ResponseData from '../types/ResponseData';
import FormCreate from '../components/User/FormCreate.vue';
import { notify } from "@kyvg/vue3-notification";

const storage = window.localStorage;

const columns = ref([
    { field: 'id', label: '#', },
    { field: 'first_name', label: 'Nombre' },
    { field: 'age', label: 'Edad' },
    { field: 'email', label: 'Email' }
])

let rows = ref([])

const params = ref({
        search   : '',
        sort     : [],
        page     : 1,
        per_page : 10
    })
const paginate = ref({
        table:'Users',
        perPageDropdown:[5,10,20]
    })

let showCreate = ref(false)

const loadRows = () => {

    let data = storage.getItem('users') ?? false

    if (!data) {
        UserDataService.getAll(1)
        .then( ( response: ResponseData )=> {
            if ( response.status === 200 ) {
                const { data } = response.data
                rows.value = data
                storage.setItem('users',  JSON.stringify(data)  )
            }
        })
        .catch( (error) => {
            console.error(error)
        }) 
    } else {
        rows.value = JSON.parse( storage.getItem('users') )
    }
}

const verifyEmail = (email:string) => {
    let idx = rows.value.findIndex( (user) => user.email == email )
    return idx > -1
}

const createUser = ( data:PropType<User> ) => {
    if ( estimateAge(data.birthday) <= 6 ) {
        notify({
            text:'La edad minima permitida es de 6 años',
            type:'warn'
        })
    } else if( verifyEmail(data.email) ) {
        notify({
            text:'Ya existe un usuario con el mismo email',
            type:'warn'
        })
    } else {
        rows.value.push(data)
        showCreate.value = false
        notify(`Usuario(${data.first_name}) creado correctamente`)
    
        storage.setItem('users',  JSON.stringify(rows.value)  )
    }
}

const estimateAge = (birthday:string) => {
    let date = new Date(birthday)
    let currentDate = new Date()

    return currentDate.getFullYear() - date.getFullYear(); 
}

onMounted(()=>{
    loadRows()
})


</script>

<template>
    <Layout>
        <template #header>
            Diego Alberto Ochoa Guzmán
        </template>
        <template #main>
            <CardBase>
                <template #title>
                    Administración de usuarios
                </template>

                <template  #buttons>
                    <button class="ml-4 mt-1 btn-primary disabled:opacity-75" 
                            @click="showCreate=true">
                        Crear usuario
                    </button>
                </template>

                <template #body>

                    <div class="flex">
                        <div class="shrink-0">
                            <FormCreate 
                                :show="showCreate"
                                @closeModal="showCreate=false" 
                                @createUser="createUser"    
                            />
                        </div>
                        <Table
                            class="flex-1"
                            :columns='columns' 
                            :rows='rows'
                            :paginate="paginate"
                            :rowSort="true"
                        >
                            <template #row="props">
                                <template v-if="props.column.field == 'first_name'">
                                    <div class="flex">
                                        <div class="flex-none mr-2" v-if="props.row.avatar">
                                            <img class="block w-6 h-6 rounded-full" :src="props.row.avatar" />
                                        </div>
                                        <div class="flex-grow">
                                            {{ props.data }}
                                        </div>
                                    </div>
                                </template>
                                <template v-if="props.column.field == 'age'">
                                    {{ props.row.birthday ? estimateAge(props.row.birthday) : 'N/A' }}
                                </template>
                            </template>
                        </Table>
                    </div>
                </template>
                
            </CardBase>
        </template>
    </Layout>
</template>
