<script setup lang="ts">
import Layout from '../layouts/Base.vue'
</script>

<template>
    <Layout>
        <template #header>
            Usuario 
        </template>
        <template #main>
            Información
        </template>
    </Layout>
</template>
