@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply inline-flex items-center px-4 py-2 border border-transparent
    rounded-md font-medium text-xs text-white uppercase tracking-widest
    focus:outline-none transition;
  }

  .btn-primary {
    @apply btn  bg-blue-600 hover:bg-blue-700 focus:ring-blue-500 focus:ring-offset-blue-200
  }

  .btn-indigo {
    @apply btn  bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200
  }

  .btn-secondary {
      @apply btn   bg-gray-600 hover:bg-gray-700 focus:ring-gray-500 focus:ring-offset-gray-200
  }

  .btn-secondary-light {
      @apply btn   bg-gray-600 hover:bg-gray-700 focus:ring-gray-500 focus:ring-offset-gray-200
  }

  .btn-warning {
      @apply btn  bg-yellow-600 hover:bg-yellow-700 focus:ring-yellow-500 focus:ring-offset-yellow-200
  }

  .btn-danger {
      @apply btn  bg-red-600 hover:bg-red-700 focus:ring-red-500 focus:ring-offset-red-200
  }
  .btn-success {
      @apply btn  bg-green-600 hover:bg-green-700 focus:ring-green-500 focus:ring-offset-green-200
  }

  .input-text{
      @apply p-2 border-gray-500 border-2 focus:border-blue-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm w-full;
  }
}
