<template>
    <div class="min-h-screen bg-gray-100">
        <nav class="bg-white border-b border-gray-100">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex justify-between h-16">
                    <h1 class="text-3xl font-bold">
                        Prueba técnica
                    </h1>
                </div>
            </div>
        </nav>

        <header class="bg-white shadow" v-if="$slots.header">
            <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
                <slot name="header"></slot>
            </div>
        </header>

        <main>
            <div class="py-4">
                <div class="max-w-full mx-auto">
                    <slot name="main"/>
                </div>
            </div>
        </main>
    </div>
</template>